<html>
  <head>
    <title>Test</title>
  </head>
  <body>
    <div align='center'>
      <img border='2' src='src/<%=img%>a.png'>
      <img border='2' src='src/<%=img%>b.png'>
      <% if (result) { %>
          <br><img border='2' src='public/diff.png'>
      <% } %>
    </div>
    <form action='#' method='POST'>
      <input type='text' name='img' style='display: none' value='<%=img%>'>
      <input type='submit' />
    </form>
  </body>
</html>
