<html>
  <head>
    <title>Test</title>
  </head>
  <body>
    <img src='src/<%=img%>a.png'>
    <img src='src/<%=img%>b.png'>

    <form action='test' method='POST'>
      <input type='text' name='img' style='display: none' value='<%=img%>'>
      <input type='submit' />
    </form>
  </body>
</html>